# ===== Entornos virtuales =====
venv/
backend/venv/
.env
*.env

# ===== Node (Frontend) =====
node_modules/
frontend/node_modules/
dist/
*.log

# ===== Python (Backend) =====
__pycache__/
.pytest_cache/
*.pytest_cache
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# ===== Archivos de configuración locales =====
.idea/
.vscode/
*.swp

# ===== Archivos de sistema =====
.DS_Store
Thumbs.db
