:root {
  --color-primary: #800000;    /* Primary */
  --color-surface: #FFFFFF;    /* Surface */
  --color-surface-alt: #F5F5F5;/* Surface Alternativo */
  --color-text: #1F2937;       /* Text */
  --color-border: #E5E7EB;     /* Border */
  --color-success: #10B981;    /* Surcces*/
}
  .btn-primary-uni {
  background-color: var(--color-primary);
  color: var(--color-surface);
  border: none;
}
.btn-primary-uni:hover,
.btn-primary-uni:focus {
  filter: brightness(0.92);
  color: var(--color-surface);
}
